@import responsive
@import font
@import mixins
@import spaces
@import variables

.width
    width: 100%

.nav-shadow
    box-shadow: 0 8px 20px rgb(200, 200, 200)

.radius 
    border-radius: 20px

.black
    font-family: Roboto Black, sans-serif

.bold
    font-family: Roboto Bold, sans sans-serif

.regular
    font-family: Roboto, sans-serif

.thin
    font-family: Roboto Thin, sans-serif

.justify-center
    display: flex
    justify-content: center

header 
    @include display-flex(row, wrap)
    width: 100%
    align-items: center
    z-index: 1
    position: relative
    box-shadow: 0 0 8px rgb(200, 200, 200)

.block-position 
    width: 100%
    @include display-flex(row, wrap)
    @include justify-center(alignement)
    align-items: center
    background-color: rgb(235, 235, 235)
    height: 50px
    font-size: 16px
    color: #414141
    .txt-loc
        font-size: 15px

.block-de-titres 
    margin-top: 0
    text-align: center
    height: 100%
    background-color: rgb(245, 245, 245)
    .btn-explorer 
        margin-top: 20px
        font-family: Roboto, sans-serif
        width: auto
        border-radius: 50px
        padding: 12px 17px
        border: 0
        font-size: 14px
        background: linear-gradient(0.50turn, #FF79DA -15%, #9356DC)
        color: white
        box-shadow: 0 5px 10px rgb(215, 215, 215)

.block-restaurant
    display: flex
    flex-direction: column
    width: 100%
    text-align: center
    .firstnav
        display: flex
        width: 100%
        font-size: 15px
        box-sizing: border-box
