/* REPONSIVE DE LA PAGE PRINCIPALE */

@import generic-sass/checkbox
@import generic-sass/spaces
@import generic-sass/hovers
@import generic-sass/variables
@import generic-sass/generic
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700;900&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap')

@import contact
@import menu

body, html
    min-width: 320px
    margin: 0px

header 
    width: 100%
    align-items: center
    z-index: 1
    position: relative
    box-shadow: 0 0 8px rgb(200, 200, 200)
    .nav-arrow
        position: absolute
        left: 10%

.block-position
    font-family: Roboto, sans-serif
    font-weight: 700
    display: flex
    justify-content: center
    width: 100%
    align-items: center
    background-color: rgb(235, 235, 235)
    height: 50px
    font-size: 16px
    color: #414141
    .txt-loc
        font-size: 15px
        padding-right: 15px

.block-de-titres 
    font-family: Roboto, sans-serif
    font-weight: 700
    margin-top: 0
    text-align: center
    height: 100%
    background-color: rgb(245, 245, 245)
    .txt-reservez
        padding-left: 40px
        padding-right: 40px
    .txt-decouvrez
        font-weight: 400
        font-size: 15px
    .btn-explorer 
        margin-top: 20px
        font-family: Roboto, sans-serif
        font-weight: 400
        width: auto
        border-radius: 50px
        padding: 12px 17px
        border: 0
        font-size: 14px
        background: linear-gradient(0.45turn, #FF79DA -25%, #9356DC 125%)
        color: white
        box-shadow: 0 5px 10px rgb(215, 215, 215)

h2
    font-family: Roboto, sans-serif
    font-weight: 700

.block-fonctionnement
    display: flex
    flex-direction: column
    align-items: center
    width: 100%
    .btn
        display: flex
        flex-direction: row
        position: relative
        align-items: center
        width: 80%
        .btn-txt
            font-family: Roboto, sans-serif
            font-weight: 700
            height: 60px
            box-shadow: 0 5px 20px #d7d7d7
            border-radius: 15px
            font-size: 14px
            width: 100%
            white-space: nowrap
            text-align: center
            display: flex
            justify-content: center
            align-items: center  
        .num-icon
            display: flex
            flex-direction: row
            align-items: center
            position: absolute
            left: -12px
            .number
                font-size: 12px
                color: white  
                padding: 4px 8px  
                background-color: $violet 
                text-align: center
                border-radius: 20px
                margin-right: 16px

.block-restaurants
    font-family: Roboto, sans-serif
    display: flex
    flex-direction: column
    background-color: #f5f5f5
    align-items: center
    .txt-restaurant-mobile-tablette
        align-self: flex-start
    .box-restaurants
        display: flex
        flex-direction: column
        width: 90%
        border-radius: 13px
        position: relative
        .box-txt
            font-size: 16px
            padding: 15px
            .txt-box
                font-weight: 700
            .txt--box
                font-weight: 400
        .nouveau
            font-family: Roboto, sans-serif
            font-weight: 700
            border-radius: 3px
            position: absolute
            right: 20px
            top: 20px
            padding: 10px 15px
            background-color: rgb(134, 230, 193)
            color: rgb(57, 138, 111)
        .img
            object-fit: cover
            height: 175px
            border-top-right-radius: 13px
            border-top-left-radius: 13px
            width: 100%
        .block-align-txt 
            width: 100%
            display: flex
            justify-content: space-between

footer
    width: 100%
    padding-right: 0px
    background-color: #323232
    .logo-footer
        color: white
        font-family: Shrikhand, sans-serif
        font-size: 20px
        margin: 0px
        padding-bottom: 0
        padding-right: 0
    ol
        display: flex
        flex-direction: column
        justify-content: space-between
        color: white
        list-style-type: none
        height: 100px
        padding-left: 20px
        padding-bottom: 20px
        font-size: 15px
        margin-bottom: 0px
        li
            font-family: Roboto, sans-serif
            display: flex
            flex-direction: row
            align-items: center
        .footer-icon
            margin-right: 10px
        .px
            padding-left: 7px


/* BOUTTON LIKE */
label input[type="checkbox"] 
    display: none

.custom-checkbox 
    margin-left: 2em
    position: relative
    cursor: pointer

.custom-checkbox .fa-heart 
    font-size: 30px
    position: relative
    top: 10px

.custom-checkbox .heart-empty 
    position: absolute
    font-size: 30p
    top: 10px

.custom-checkbox .heart 
    opacity: 0
    transition: opacity 0.3s

.custom-checkbox:hover .heart
    opacity: 1

.custom-checkbox:hover .heart-empty
    opacity: 0

.custom-checkbox input[type="checkbox"]:checked ~ .heart 
    opacity: 1


.custom-checkbox input[type="checkbox"]:checked ~ .heart-empty 
    opacity: 0

/* RESPONSIVE */
@import responsive-sass/_main-responsive
