@media screen and (max-width: 768px)
    .txt-restaurants-mobile-tablette
        align-self: flex-start

    .txt-restaurants-desktop
        display: none

    .btn
        margin: 0px

@media screen and (min-width: 769px)
    .footer-contact
        position: absolute
        bottom: 0px
        left: 0px
        margin: 0 auto
        width: 100%

    .block-commander
        height: 180px !important
        align-items: center !important

    .btn-commander
        height: 40px !important
        display: flex !important

    .menu-button
        height: 100% !important
        flex-direction: column !important

    .menu-btn-like
        display: flex
        background-color: $turquoise
        align-items: center
        justify-content: center
        height: 1px !important
        margin-right: -16px
        border-top-right-radius: 20px
        border-bottom-right-radius: 20px
        margin-left: 10px
        opacity: 0

    .menu-button:hover > .menu-btn-like
        height: 30px !important
        border-radius: 20px
        margin-top: 10px !important
        margin-right: 0px !important
        margin-left: 0px !important
        padding-left: 30%
        padding-right: 30%
        margin-bottom: 0px !important

    nav
        width: 100%
        display: flex
        justify-content: center

    .block-restaurants
        flex-direction: row !important
        width: 100% !important
        justify-content: space-between
        align-items: center

    .box-restaurants
        width: 20% !important
        margin: 20px
        height: 265px !important

    .img
        width: 100% !important

    .txt-restaurants-desktop
        display: block !important
        margin-left: 20px !important

    .txt-restaurants-mobile-tablette
        display: none

    .logo-footer
        padding-top: 10px
        padding-right: 0px
        display: flex
        justify-content: center

    ol
        display: flex
        flex-direction: row !important
        justify-content: space-between !important
        height: 10px !important
        padding-left: 0 !important
        width: 80%
        margin: 0 auto
        margin-top: 20px
        align-items: center !important

    .block-menu-int
        flex-direction: row 
        align-items: baseline
        white-space: wrap

    .block-menu-int .menu-plus-prix .menu-- 
        text-overflow: ellipsis
        overflow: hidden
        white-space: unset

    .menu-- 
        justify-content: flex-end
        margin-top: 5px

    .prix
        justify-content: flex-end
        height: 40px
        display: flex
        align-items: flex-end
        justify-content: center

@media screen and (min-width: 881px)
    body
        width: 80%
        margin: 0 auto !important

    .block-de-titres
        border-radius: 20px
        border-top-right-radius: 0
        border-top-left-radius: 0

    .block-restaurants
        border-radius: 20px
        border-bottom-left-radius: 0
        border-bottom-right-radius: 0

    .block-top-contact
        border-radius: 10px

    .txt-restaurants-desktop
        display: none

    .txt-restaurants
        display: block

    .block-position
        border-top-right-radius: 20px
        border-top-left-radius: 20px

    header
        border-radius: 20px 

    .header-shadow
        box-shadow: unset

    .img-page-restaurant
        margin: 0
        padding: 0
        position: absolute
        z-index: -999
        width: 80%
        height: 210px
        object-fit: cover
        border-top-right-radius: 20px
        border-top-left-radius: 20px

    .block-menu-int
        height: 394px !important
    
    @media screen and (min-width: 1024px)       
        .block-fonctionnement
            display: flex
            flex-direction: row !important

        .number
            margin-right: 10px !important

        .btn
            margin: 10px
        