
/* BOUTTON LIKE */
label input[type="checkbox"]
    display: none

.custom-checkbox
    margin-left: 2em
    position: relative
    cursor: pointer
    .fa-heart
        font-size: 30px
        position: relative
        top: 10px

    .heart
        opacity: 0
        transition: opacity 0.3s
        &-empty
            position: absolute
            font-size: 30p
            top: 10px
    &:hover
        .heart
            opacity: 1
            &-empty
                opacity: 0

    input[type="checkbox"]
        &:checked
            & ~ .heart
                opacity: 1
                &-empty
                    opacity: 0
