@import generic-sass/_variables

.btn-explorer:hover 
    transform: scale(1.03)
    transition-duration: 0.3s
    background: linear-gradient(0.50turn, #fd99e1 -15%, #bd88fd) !important
.button:hover
    cursor: pointer
    background-color: #c98cff30

.box-restaurants:hover
    cursor: pointer
    transform: scale(1.01)
    transition: 0.2s

.number-icon:hover > .icon 
    color: $violet !important

li:hover
    text-decoration: underline
    cursor: pointer
