@media screen and (min-width: 769px) {
  /* line 5, ../sass/_responsive.sass */
  footer .logo-footer {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 20px;
    padding-bottom: 20px;
  }
  /* line 11, ../sass/_responsive.sass */
  footer ol {
    display: flex;
    flex-direction: row !important;
    height: 100%;
    padding-left: 0 !important;
  }
}
@font-face {
  font-family: "Shrikhand";
  src: url("/ressources/Shrikhand-Regular.ttf");
}
@font-face {
  font-family: "Roboto";
  src: url("/ressources/Font-Roboto/Roboto/Roboto-Regular.ttf");
  font-weight: 300;
}
@font-face {
  font-family: "Roboto Bold";
  src: url("/ressources/Font-Roboto/Roboto/Roboto-Bold.ttf");
}
@font-face {
  font-family: "Roboto Medium";
  src: url("/ressources/Font-Roboto/Roboto/Roboto-Medium.ttf");
}
@font-face {
  font-family: "Roboto Bold Condensed";
  src: url("/ressources/Font-Roboto/Roboto/Roboto-BoldCondensed.ttf");
}
@font-face {
  font-family: "Roboto Black";
  src: url("/ressources/Font-Roboto/Roboto/Roboto-Black.ttf");
}
@font-face {
  font-family: "Roboto Light";
  src: url("/ressources/Font-Roboto/Roboto/Roboto-Light.ttf");
}
@font-face {
  font-family: "Roboto Thin";
  src: url("/ressources/Font-Roboto/Roboto/Roboto-Thin.ttf");
}
/* line 1, ../sass/_spaces.sass */
.margin {
  margin: 20px;
}
/* line 3, ../sass/_spaces.sass */
.margin-left {
  margin-left: 20px;
}
/* line 5, ../sass/_spaces.sass */
.margin-right {
  margin-right: 20px;
}
/* line 7, ../sass/_spaces.sass */
.margin-bottom {
  margin-bottom: 20px;
}
/* line 9, ../sass/_spaces.sass */
.margin-top {
  margin-top: 20px;
}
/* line 11, ../sass/_spaces.sass */
.margin-zero {
  margin: 0;
}

/* line 14, ../sass/_spaces.sass */
.padding {
  padding: 20px;
}
/* line 16, ../sass/_spaces.sass */
.padding-left {
  padding-left: 20px;
}
/* line 18, ../sass/_spaces.sass */
.padding-right {
  padding-right: 20px;
}
/* line 20, ../sass/_spaces.sass */
.padding-bottom {
  padding-bottom: 20px;
}
/* line 22, ../sass/_spaces.sass */
.padding-top {
  padding-top: 20px;
}
/* line 24, ../sass/_spaces.sass */
.padding-zero {
  padding: 0;
}

/* line 6, ../sass/_variables.sass */
.violet {
  color: #9356dc;
}

/* line 9, ../sass/_variables.sass */
.rose {
  color: #ff79da;
}

/* line 12, ../sass/_variables.sass */
.turquoise {
  color: #99e2d0;
}

/* line 15, ../sass/_variables.sass */
.dimgray {
  color: #787878;
}

/* line 1, ../sass/_hovers.sass */
.btn-explorer:hover {
  transform: scale(1.03);
  transition-duration: 0.3s;
  background: linear-gradient(0.5turn, #fd99e1 -15%, #bd88fd) !important;
}

/* line 5, ../sass/_hovers.sass */
.button:hover {
  cursor: pointer;
  background-color: #c98cff30;
}

/* line 9, ../sass/_hovers.sass */
.number-icon:hover > .icon {
  color: #9356dc !important;
}

/* line 12, ../sass/_hovers.sass */
li:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* line 8, ../sass/main.sass */
body {
  min-width: 320px;
}

/* line 11, ../sass/main.sass */
.width {
  width: 100%;
}

/* line 14, ../sass/main.sass */
.nav-shadow {
  box-shadow: 0 5px 20px #d7d7d7;
}

/* line 17, ../sass/main.sass */
.radius {
  border-radius: 20px;
}

/* line 20, ../sass/main.sass */
.black {
  font-family: Roboto Black, sans-serif;
}

/* line 23, ../sass/main.sass */
.bold {
  font-family: Roboto Bold, sans sans-serif;
}

/* line 26, ../sass/main.sass */
.regular {
  font-family: Roboto, sans-serif;
}

/* line 29, ../sass/main.sass */
.thin {
  font-family: Roboto Thin, sans-serif;
}

/* line 32, ../sass/main.sass */
.justify-center {
  display: flex;
  justify-content: center;
}

/* line 36, ../sass/main.sass */
.text-center {
  text-align: center;
}

/* line 39, ../sass/main.sass */
header {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  align-items: center;
  z-index: 1;
  position: relative;
  box-shadow: 0 0 8px #c8c8c8;
}

/* line 47, ../sass/main.sass */
.block-position {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  justify-content: center;
  align-items: center;
  background-color: #ebebeb;
  height: 50px;
  font-size: 16px;
  color: #414141;
}
/* line 56, ../sass/main.sass */
.block-position .txt-loc {
  font-size: 15px;
}

/* line 59, ../sass/main.sass */
.block-de-titres {
  margin-top: 0;
  text-align: center;
  height: 100%;
  background-color: whitesmoke;
}
/* line 64, ../sass/main.sass */
.block-de-titres .txt-reservez {
  font-size: 24px;
}
/* line 66, ../sass/main.sass */
.block-de-titres .txt-decouvrez {
  font-size: 15px;
}
/* line 68, ../sass/main.sass */
.block-de-titres .btn-explorer {
  margin-top: 20px;
  font-family: Roboto, sans-serif;
  width: auto;
  border-radius: 50px;
  padding: 12px 17px;
  border: 0;
  font-size: 14px;
  background: linear-gradient(0.5turn, #FF79DA -15%, #9356DC);
  color: white;
  box-shadow: 0 5px 10px #d7d7d7;
}

/* line 80, ../sass/main.sass */
.block-fonctionnement {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* line 84, ../sass/main.sass */
.block-fonctionnement .button {
  width: 90%;
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-bottom: 20px;
  justify-content: center;
}
/* line 91, ../sass/main.sass */
.block-fonctionnement .button .nav {
  width: 100%;
  font-size: 14px;
}
/* line 94, ../sass/main.sass */
.block-fonctionnement .button .number-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
  padding-top: 25px;
  padding-bottom: 25px;
}
/* line 102, ../sass/main.sass */
.block-fonctionnement .button .number-icon .container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
/* line 107, ../sass/main.sass */
.block-fonctionnement .button .number-icon .number {
  position: absolute;
  font-size: 12px;
  color: white;
  padding: 4px 8px;
  background-color: #9356dc;
  text-align: center;
  border-radius: 20px;
  left: 3%;
}
/* line 116, ../sass/main.sass */
.block-fonctionnement .button .number-icon .icon {
  margin-left: 15px;
  color: #787878;
  position: absolute;
}

/* line 121, ../sass/main.sass */
.block-restaurants {
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
  align-items: center;
}
/* line 126, ../sass/main.sass */
.block-restaurants .txt-restaurant {
  align-self: flex-start;
}
/* line 128, ../sass/main.sass */
.block-restaurants .box-restaurants {
  display: flex;
  flex-direction: column;
  width: 90%;
  border-radius: 13px;
  position: relative;
}
/* line 134, ../sass/main.sass */
.block-restaurants .box-restaurants .txt-box {
  font-size: 16px;
  padding: 15px;
}
/* line 137, ../sass/main.sass */
.block-restaurants .box-restaurants .nouveau {
  position: absolute;
  right: 20px;
  top: 20px;
  padding: 10px 15px;
  background-color: #d4ffe9;
  color: #64fac8;
}
/* line 144, ../sass/main.sass */
.block-restaurants .box-restaurants .img {
  object-fit: cover;
  height: 175px;
  border-top-right-radius: 13px;
  border-top-left-radius: 13px;
}
/* line 149, ../sass/main.sass */
.block-restaurants .box-restaurants .block-align-txt {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

/* line 154, ../sass/main.sass */
footer {
  width: 100%;
  background-color: #323232;
}
/* line 157, ../sass/main.sass */
footer ol {
  font-family: Roboto, sans-serif;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  list-style-type: none;
  height: 100%;
  color: white;
  margin: 0;
  padding-left: 0px;
}
/* line 168, ../sass/main.sass */
footer ol li {
  margin: 5px;
}
/* line 170, ../sass/main.sass */
footer .logo-footer {
  font-size: 20px;
  font-family: Shrikhand, sans-serif;
  color: white;
}
/* line 174, ../sass/main.sass */
footer .icon-footer {
  margin-right: 17px;
  text-align: center;
  width: 20px;
}

/* line 179, ../sass/main.sass */
label input[type="checkbox"] {
  display: none;
}

/* line 182, ../sass/main.sass */
.custom-checkbox {
  margin-left: 2em;
  position: relative;
  cursor: pointer;
}

/* line 187, ../sass/main.sass */
.custom-checkbox .fa-heart {
  font-size: 30px;
  position: relative;
  top: 10px;
}

/* line 192, ../sass/main.sass */
.custom-checkbox .heart-empty {
  position: absolute;
  font-size: 30p;
  top: 10px;
}

/* line 197, ../sass/main.sass */
.custom-checkbox .heart {
  opacity: 0;
  transition: opacity 0.3s;
}

/* line 201, ../sass/main.sass */
.custom-checkbox:hover .heart {
  opacity: 1;
}

/* line 204, ../sass/main.sass */
.custom-checkbox:hover .heart-empty {
  opacity: 0;
}

/* line 207, ../sass/main.sass */
.custom-checkbox input[type="checkbox"]:checked ~ .heart {
  opacity: 1;
}

/* line 211, ../sass/main.sass */
.custom-checkbox input[type="checkbox"]:checked ~ .heart-empty {
  opacity: 0;
}
