@font-face {
  font-family: "Shrikhand";
  src: url("/ressources/Font-Roboto/Roboto/Roboto-Regular.ttf");
}
@font-face {
  font-family: "Roboto";
  src: url("/ressources/Font-Roboto/Roboto/Roboto-Regular.ttf");
  font-weight: 300;
}
@font-face {
  font-family: "Roboto Bold";
  src: url("/ressources/Font-Roboto/Roboto/Roboto-Bold.ttf");
}
@font-face {
  font-family: "Roboto Medium";
  src: url("/ressources/Font-Roboto/Roboto/Roboto-Medium.ttf");
}
@font-face {
  font-family: "Roboto Bold Condensed";
  src: url("/ressources/Font-Roboto/Roboto/Roboto-BoldCondensed.ttf");
}
@font-face {
  font-family: "Roboto Black";
  src: url("/ressources/Font-Roboto/Roboto/Roboto-Black.ttf");
}
@font-face {
  font-family: "Roboto Light";
  src: url("/ressources/Font-Roboto/Roboto/Roboto-Light.ttf");
}
@font-face {
  font-family: "Roboto Thin";
  src: url("/ressources/Font-Roboto/Roboto/Roboto-Thin.ttf");
}
/* line 1, ../sass/_spaces.sass */
.margin {
  margin: 20px;
}
/* line 3, ../sass/_spaces.sass */
.margin-left {
  margin-left: 20px;
}
/* line 5, ../sass/_spaces.sass */
.margin-right {
  margin-right: 20px;
}
/* line 7, ../sass/_spaces.sass */
.margin-bottom {
  margin-bottom: 20px;
}
/* line 9, ../sass/_spaces.sass */
.margin-top {
  margin-top: 20px;
}
/* line 11, ../sass/_spaces.sass */
.margin-zero {
  margin: 0;
}

/* line 14, ../sass/_spaces.sass */
.padding {
  padding: 20px;
}
/* line 16, ../sass/_spaces.sass */
.padding-left {
  padding-left: 20px;
}
/* line 18, ../sass/_spaces.sass */
.padding-right {
  padding-right: 20px;
}
/* line 20, ../sass/_spaces.sass */
.padding-bottom {
  padding-bottom: 20px;
}
/* line 22, ../sass/_spaces.sass */
.padding-top {
  padding-top: 20px;
}
/* line 24, ../sass/_spaces.sass */
.padding-zero {
  padding: 0;
}

/* line 7, ../sass/main.sass */
.violet {
  color: #9356dc;
}

/* line 10, ../sass/main.sass */
.rose {
  color: #ff79da;
}

/* line 13, ../sass/main.sass */
.turquoise {
  color: #99e2d0;
}

/* line 16, ../sass/main.sass */
.dimgray {
  color: #787878;
}

/* line 19, ../sass/main.sass */
.shadow {
  box-shadow: 0 0 5px #afafaf;
}

/* line 22, ../sass/main.sass */
.black {
  font-family: Roboto Black, sans-serif;
}

/* line 25, ../sass/main.sass */
.bold {
  font-family: Roboto Bold, sans sans-serif;
}

/* line 28, ../sass/main.sass */
.regular {
  font-family: Roboto, sans-serif;
}

/* line 31, ../sass/main.sass */
.thin {
  font-family: Roboto Thin, sans-serif;
}

/* line 34, ../sass/main.sass */
.justify-center {
  display: flex;
  justify-content: center;
}

/* line 38, ../sass/main.sass */
header {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  align-items: center;
  z-index: 1;
  position: relative;
}

/* line 45, ../sass/main.sass */
.block-position {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  justify-content: center;
  align-items: center;
  background-color: #ebebeb;
  height: 60px;
  font-size: 16px;
  color: #414141;
}

/* line 55, ../sass/main.sass */
.block-de-titres {
  padding: 35px;
  margin-top: 0;
  text-align: center;
  height: 100%;
  background-color: whitesmoke;
}
/* line 61, ../sass/main.sass */
.block-de-titres .btn-explorer {
  margin-top: 20px;
  font-family: Roboto, sans-serif;
  width: auto;
  border-radius: 50px;
  padding: 12px 17px;
  border: 0;
  font-size: 14px;
  background: linear-gradient(0.5turn, #FF79DA -15%, #9356DC);
  color: white;
  box-shadow: 0 5px 10px #d7d7d7;
}

/* line 73, ../sass/main.sass */
.block-fonctionnement {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
/* line 78, ../sass/main.sass */
.block-fonctionnement .box-fonctionnement {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  width: 100%;
}
/* line 83, ../sass/main.sass */
.block-fonctionnement .box-fonctionnement .numbers {
  font-family: Roboto Medium;
  font-size: 10px;
  padding: 5px 8px;
  color: white;
  border-style: none;
  border-radius: 50px;
  background-color: #9356DC;
  position: absolute;
  left: 10px;
}
/* line 94, ../sass/main.sass */
.block-fonctionnement .box-fonctionnement .icon-txt {
  box-shadow: 0 5px 10px #d7d7d7;
  border-radius: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  background-color: whitesmoke;
}
