/* REPONSIVE DE LA PAGE PRINCIPALE */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
/* line 1, ../sass/generic-sass/_checkbox.sass */
label input[type="checkbox"] {
  display: none;
}

/* line 5, ../sass/generic-sass/_checkbox.sass */
.custom-checkbox {
  margin-left: 2em;
  position: relative;
  cursor: pointer;
}

/* line 11, ../sass/generic-sass/_checkbox.sass */
.custom-checkbox .fa-heart {
  font-size: 30px;
  position: relative;
  top: 10px;
}

/* line 17, ../sass/generic-sass/_checkbox.sass */
.custom-checkbox .heart-empty {
  position: absolute;
  font-size: 30px;
  top: 10px;
}

/* line 23, ../sass/generic-sass/_checkbox.sass */
.custom-checkbox .heart {
  opacity: 0;
  transition: opacity 0.3s;
}

/* line 28, ../sass/generic-sass/_checkbox.sass */
.custom-checkbox:hover .heart {
  opacity: 1;
}

/* line 32, ../sass/generic-sass/_checkbox.sass */
.custom-checkbox:hover .heart-empty {
  opacity: 0;
}

/* line 36, ../sass/generic-sass/_checkbox.sass */
.custom-checkbox input[type="checkbox"]:checked ~ .heart {
  opacity: 1;
}

/* line 40, ../sass/generic-sass/_checkbox.sass */
.custom-checkbox input[type="checkbox"]:checked ~ .heart-empty {
  opacity: 0;
}

/* line 1, ../sass/generic-sass/_spaces.sass */
.margin {
  margin: 20px;
}
/* line 3, ../sass/generic-sass/_spaces.sass */
.margin-left {
  margin-left: 20px;
}
/* line 5, ../sass/generic-sass/_spaces.sass */
.margin-right {
  margin-right: 20px;
}
/* line 7, ../sass/generic-sass/_spaces.sass */
.margin-bottom {
  margin-bottom: 20px;
}
/* line 9, ../sass/generic-sass/_spaces.sass */
.margin-top {
  margin-top: 20px;
}
/* line 11, ../sass/generic-sass/_spaces.sass */
.margin-zero {
  margin: 0;
}

/* line 14, ../sass/generic-sass/_spaces.sass */
.padding {
  padding: 20px;
}
/* line 16, ../sass/generic-sass/_spaces.sass */
.padding-left {
  padding-left: 20px;
}
/* line 18, ../sass/generic-sass/_spaces.sass */
.padding-right {
  padding-right: 20px;
}
/* line 20, ../sass/generic-sass/_spaces.sass */
.padding-bottom {
  padding-bottom: 20px;
}
/* line 22, ../sass/generic-sass/_spaces.sass */
.padding-top {
  padding-top: 20px;
}
/* line 24, ../sass/generic-sass/_spaces.sass */
.padding-zero {
  padding: 0;
}

/* line 6, ../sass/generic-sass/_variables.sass */
.violet {
  color: #9356dc;
}

/* line 9, ../sass/generic-sass/_variables.sass */
.rose {
  color: #ff79da;
}

/* line 12, ../sass/generic-sass/_variables.sass */
.turquoise {
  color: #99e2d0;
}

/* line 15, ../sass/generic-sass/_variables.sass */
.dimgray {
  color: #787878;
}

/* line 3, ../sass/generic-sass/_hovers.sass */
.btn-explorer:hover {
  transform: scale(1.03);
  transition-duration: 0.3s;
  background: linear-gradient(0.5turn, #fd99e1 -15%, #bd88fd) !important;
  cursor: pointer;
}

/* line 9, ../sass/generic-sass/_hovers.sass */
.btn-txt:hover {
  cursor: pointer;
  background-color: #c98cff30;
}

/* line 13, ../sass/generic-sass/_hovers.sass */
.box-restaurants:hover {
  cursor: pointer;
  transform: scale(1.01);
  transition: 0.2s;
}

/* line 18, ../sass/generic-sass/_hovers.sass */
.btn:hover > .num-icon > .icon {
  color: #9356dc !important;
}

/* line 21, ../sass/generic-sass/_hovers.sass */
li:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* line 25, ../sass/generic-sass/_hovers.sass */
.btn-commander:hover {
  cursor: pointer;
  transform: scale(1.03);
  transition-duration: 0.3s;
  background: linear-gradient(0.5turn, #fd99e1 -15%, #bd88fd) !important;
}

/* line 31, ../sass/generic-sass/_hovers.sass */
.btn-envoyez:hover {
  transform: scale(1.03);
  transition-duration: 0.3s;
  background: linear-gradient(0.5turn, #fd99e1 -15%, #bd88fd) !important;
  cursor: pointer;
}

/* line 37, ../sass/generic-sass/_hovers.sass */
.int-name:hover {
  cursor: default;
}

/* line 40, ../sass/generic-sass/_hovers.sass */
.int-name-block-message:hover {
  cursor: default;
}

/* line 43, ../sass/generic-sass/_hovers.sass */
.btn:hover {
  cursor: pointer;
  transform: scale(1.01);
  transition: 0.2s;
}

/* line 48, ../sass/generic-sass/_hovers.sass */
.menu-button:hover {
  cursor: pointer;
  transform: scale(1.01);
  transition: 0.2s;
}

/* line 1, ../sass/generic-sass/_generic.sass */
.width {
  width: 100%;
}

/* line 4, ../sass/generic-sass/_generic.sass */
.fontsize {
  font-size: 22px;
}

/* line 7, ../sass/generic-sass/_generic.sass */
.nav-shadow {
  box-shadow: 0 5px 20px #d7d7d7;
}

/* line 10, ../sass/generic-sass/_generic.sass */
.radius {
  border-radius: 20px;
}

/* line 13, ../sass/generic-sass/_generic.sass */
.black {
  font-family: Roboto, sans-serif;
  font-weight: 900;
}

/* line 17, ../sass/generic-sass/_generic.sass */
.bold {
  font-family: Roboto, sans-serif;
  font-weight: 700;
}

/* line 21, ../sass/generic-sass/_generic.sass */
.regular {
  font-family: Roboto, sans-serif;
  font-weight: 500;
}

/* line 25, ../sass/generic-sass/_generic.sass */
.thin {
  font-family: Roboto, sans-serif;
  font-weight: 100;
}

/* line 29, ../sass/generic-sass/_generic.sass */
.sk {
  font-family: Shrikhand, sans-serif;
}

/* line 32, ../sass/generic-sass/_generic.sass */
.justify-center {
  display: flex;
  justify-content: center;
}

/* line 36, ../sass/generic-sass/_generic.sass */
.text-center {
  text-align: center;
}

/* line 39, ../sass/generic-sass/_generic.sass */
.no-decoration {
  text-decoration: none;
}

/* line 42, ../sass/generic-sass/_generic.sass */
.no-decoration:visited {
  color: inherit;
}

/* line 45, ../sass/generic-sass/_generic.sass */
.header-shadow {
  box-shadow: 0px 0px 5px gray;
}

/* line 7, ../sass/_contact.sass */
.block-top-contact {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #f0f0f0;
  height: 50px;
  color: #414141;
}
/* line 14, ../sass/_contact.sass */
.block-top-contact .icon-plus-txt-contact {
  width: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* line 19, ../sass/_contact.sass */
.block-top-contact .txt-contact {
  font-size: 14px;
  padding-right: 15px;
}

/* line 23, ../sass/_contact.sass */
.block-contact {
  margin-top: 25px;
  display: flex;
  width: 100%;
  margin-bottom: 40px;
  flex-direction: column;
  align-items: center;
}
/* line 30, ../sass/_contact.sass */
.block-contact .int-contact {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 80%;
}
/* line 35, ../sass/_contact.sass */
.block-contact .int-contact .name {
  color: #d7d7d7;
  display: flex;
  flex-direction: row;
  background-color: white;
  border-style: none;
  border-radius: 10px;
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 10px;
}
/* line 46, ../sass/_contact.sass */
.block-contact .int-contact .name .int-name {
  font-size: 13px;
  display: flex;
  align-items: center;
  margin: 8px;
  width: 100px;
}
/* line 52, ../sass/_contact.sass */
.block-contact .int-contact .name .underline {
  width: auto;
  height: 75%;
  background-color: #fafafa;
  position: absolute;
  left: 30%;
}
/* line 58, ../sass/_contact.sass */
.block-contact .int-contact .name .message {
  height: 150px;
}
/* line 60, ../sass/_contact.sass */
.block-contact .int-contact .name-block-message {
  color: #d7d7d7;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-style: none;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10px;
  display: flex;
  align-content: center;
  position: relative;
  height: 153px;
}
/* line 73, ../sass/_contact.sass */
.block-contact .int-contact .name-block-message .int-name-block-message {
  width: 100%;
  padding-bottom: 10px;
}
/* line 76, ../sass/_contact.sass */
.block-contact .int-contact .name-block-message .underline-block-message {
  width: 80%;
  height: 1px;
  background-color: #e1e1e1;
  position: absolute;
  top: 95px;
}
/* line 82, ../sass/_contact.sass */
.block-contact .int-contact .name-block-message .underline-two-block-message {
  width: 80%;
  height: 1px;
  background-color: #e1e1e1;
  position: absolute;
  top: 125px;
}
/* line 88, ../sass/_contact.sass */
.block-contact .int-contact .name-block-message .underline-three-block-message {
  width: 80%;
  height: 1px;
  background-color: #e1e1e1;
  position: absolute;
  top: 155px;
}
/* line 94, ../sass/_contact.sass */
.block-contact .int-contact .name-block-message .input-block-message {
  border-left-style: none;
  border-top-style: solid;
  border-top-width: 2px;
  border-top-color: #ff79da;
  margin: 0px;
}
/* line 100, ../sass/_contact.sass */
.block-contact .int-contact textarea, .block-contact .int-contact input {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  align-items: flex-end;
  justify-self: flex-start;
  width: 100%;
  border-style: none;
  border-left-style: solid;
  border-left-width: 2px;
  border-left-color: #ff79da;
  margin: 8px;
}
/* line 113, ../sass/_contact.sass */
.block-contact .btn-envoyez {
  margin-top: 25px;
  font-family: Roboto, sans-serif;
  width: 70px;
  border-radius: 50px;
  padding: 12px 17px;
  border: 0;
  font-size: 14px;
  background: linear-gradient(0.45turn, #FF79DA -25%, #9356DC 125%);
  color: white;
  box-shadow: 0 5px 10px #d7d7d7;
  text-align: center;
}

/* line 7, ../sass/_menu.sass */
.logo-omf-page {
  font-family: Shrikhand, sans-serif;
  font-size: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0px;
}

/* line 14, ../sass/_menu.sass */
.arrow-plus-logo {
  position: relative;
  display: flex;
  align-items: center;
}

/* line 19, ../sass/_menu.sass */
.block-image {
  height: 180px;
}

/* line 22, ../sass/_menu.sass */
.img-page-restaurant {
  width: 100%;
  object-fit: cover;
  margin: 0;
  padding: 0;
  position: absolute;
  z-index: -999;
  min-width: 320px;
}

/* line 31, ../sass/_menu.sass */
.block-menu {
  background-color: #ebebeb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
}

/* line 40, ../sass/_menu.sass */
.txt-plus-icon {
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
}
/* line 46, ../sass/_menu.sass */
.txt-plus-icon .txt-delice {
  letter-spacing: 0.5px;
}

/* line 49, ../sass/_menu.sass */
.entrees {
  text-transform: uppercase;
  margin-left: 20px;
  margin-top: 0px;
  margin-bottom: 4px;
  align-self: flex-start;
}

/* line 56, ../sass/_menu.sass */
.block-entrees {
  display: flex;
  background-color: #ebebeb;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
/* line 62, ../sass/_menu.sass */
.block-entrees .line {
  border-radius: 20px;
  background-color: #99e2d0;
  width: 45px;
  height: 3px;
  margin-left: 20px;
  align-self: flex-start;
}
/* line 69, ../sass/_menu.sass */
.block-entrees .menu-button {
  margin-top: 20px;
  background-color: white;
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 15px;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  width: 80%;
  justify-content: space-between;
  height: 45px;
}
/* line 82, ../sass/_menu.sass */
.block-entrees .menu-plus-prix {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}
/* line 88, ../sass/_menu.sass */
.block-entrees .menu-plus-prix .menu- {
  font-size: 15px;
}
/* line 90, ../sass/_menu.sass */
.block-entrees .menu-plus-prix .menu-- {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 85%;
  white-space: nowrap;
}

/* line 96, ../sass/_menu.sass */
.btn-commander {
  margin-top: 20px;
  font-family: Roboto, sans-serif;
  width: auto;
  border-radius: 50px;
  padding: 12px 17px;
  border: 0;
  font-size: 14px;
  background: linear-gradient(0.45turn, #FF79DA -25%, #9356DC 125%);
  color: white;
  box-shadow: 0 5px 10px #d7d7d7;
  margin-top: 40px;
  margin-bottom: 40px;
  padding-left: 30px;
  padding-right: 30px;
}

/* line 14, ../sass/main.sass */
body, html {
  min-width: 320px;
  margin: 0px;
  height: 100%;
}

/* line 19, ../sass/main.sass */
header {
  width: 100%;
  align-items: center;
  z-index: 1;
  position: relative;
  box-shadow: 0 0 8px #c8c8c8;
  color: black;
}
/* line 26, ../sass/main.sass */
header .nav-arrow {
  position: absolute;
  left: 10%;
}

/* line 30, ../sass/main.sass */
.block-position {
  font-family: Roboto, sans-serif;
  font-weight: 700;
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  background-color: #ebebeb;
  height: 50px;
  font-size: 16px;
  color: #414141;
}
/* line 41, ../sass/main.sass */
.block-position .txt-loc {
  font-size: 15px;
  padding-right: 15px;
}

/* line 45, ../sass/main.sass */
.block-de-titres {
  font-family: Roboto, sans-serif;
  font-weight: 700;
  margin-top: 0;
  text-align: center;
  background-color: whitesmoke;
}
/* line 51, ../sass/main.sass */
.block-de-titres .txt-reservez {
  padding-left: 40px;
  padding-right: 40px;
}
/* line 54, ../sass/main.sass */
.block-de-titres .txt-decouvrez {
  font-weight: 400;
  font-size: 15px;
}
/* line 57, ../sass/main.sass */
.block-de-titres .btn-explorer {
  margin-top: 20px;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  width: auto;
  border-radius: 50px;
  padding: 12px 17px;
  border: 0;
  font-size: 14px;
  background: linear-gradient(0.45turn, #FF79DA -25%, #9356DC 125%);
  color: white;
  box-shadow: 0 5px 10px #d7d7d7;
}

/* line 70, ../sass/main.sass */
h2 {
  font-family: Roboto, sans-serif;
  font-weight: 700;
}

/* line 74, ../sass/main.sass */
.block-fonctionnement {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
/* line 79, ../sass/main.sass */
.block-fonctionnement .btn {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  width: 80%;
}
/* line 85, ../sass/main.sass */
.block-fonctionnement .btn .btn-txt {
  font-family: Roboto, sans-serif;
  font-weight: 700;
  height: 60px;
  box-shadow: 0 5px 20px #d7d7d7;
  border-radius: 15px;
  font-size: 14px;
  width: 100%;
  white-space: nowrap;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* line 98, ../sass/main.sass */
.block-fonctionnement .btn .num-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  left: -12px;
}
/* line 104, ../sass/main.sass */
.block-fonctionnement .btn .num-icon .number {
  font-size: 12px;
  color: white;
  padding: 4px 8px;
  background-color: #9356dc;
  text-align: center;
  border-radius: 20px;
  margin-right: 16px;
}

/* line 113, ../sass/main.sass */
.block-restaurants {
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
  align-items: center;
}
/* line 119, ../sass/main.sass */
.block-restaurants .txt-restaurant-mobile-tablette {
  align-self: flex-start;
}
/* line 121, ../sass/main.sass */
.block-restaurants .box-restaurants {
  display: flex;
  flex-direction: column;
  width: 90%;
  border-radius: 13px;
  position: relative;
}
/* line 127, ../sass/main.sass */
.block-restaurants .box-restaurants .box-txt {
  font-size: 16px;
  padding: 15px;
}
/* line 130, ../sass/main.sass */
.block-restaurants .box-restaurants .box-txt .txt-box {
  font-weight: 700;
}
/* line 132, ../sass/main.sass */
.block-restaurants .box-restaurants .box-txt .txt--box {
  font-weight: 400;
}
/* line 134, ../sass/main.sass */
.block-restaurants .box-restaurants .nouveau {
  font-family: Roboto, sans-serif;
  font-weight: 700;
  border-radius: 3px;
  position: absolute;
  right: 20px;
  top: 20px;
  padding: 10px 15px;
  background-color: #86e6c1;
  color: #398a6f;
}
/* line 144, ../sass/main.sass */
.block-restaurants .box-restaurants .img {
  object-fit: cover;
  height: 175px;
  border-top-right-radius: 13px;
  border-top-left-radius: 13px;
  width: 100%;
}
/* line 150, ../sass/main.sass */
.block-restaurants .box-restaurants .block-align-txt {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

/* line 155, ../sass/main.sass */
footer {
  width: 100%;
  padding-right: 0px;
  background-color: #323232;
}
/* line 159, ../sass/main.sass */
footer .logo-footer {
  color: white;
  font-family: Shrikhand, sans-serif;
  font-size: 20px;
  margin: 0px;
  padding-bottom: 0;
  padding-right: 0;
}
/* line 166, ../sass/main.sass */
footer ol {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  list-style-type: none;
  height: 100px;
  padding-left: 20px;
  padding-bottom: 20px;
  font-size: 15px;
  margin-bottom: 0px;
}
/* line 177, ../sass/main.sass */
footer ol li {
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
}
/* line 182, ../sass/main.sass */
footer ol .footer-icon {
  margin-right: 10px;
}
/* line 184, ../sass/main.sass */
footer ol .px {
  padding-left: 7px;
}

/* BOUTTON LIKE */
/* line 188, ../sass/main.sass */
label input[type="checkbox"] {
  display: none;
}

/* line 191, ../sass/main.sass */
.custom-checkbox {
  margin-left: 2em;
  position: relative;
  cursor: pointer;
}

/* line 196, ../sass/main.sass */
.custom-checkbox .fa-heart {
  font-size: 30px;
  position: relative;
  top: 10px;
}

/* line 201, ../sass/main.sass */
.custom-checkbox .heart-empty {
  position: absolute;
  font-size: 30p;
  top: 10px;
}

/* line 206, ../sass/main.sass */
.custom-checkbox .heart {
  opacity: 0;
  transition: opacity 0.3s;
}

/* line 210, ../sass/main.sass */
.custom-checkbox:hover .heart {
  opacity: 1;
}

/* line 213, ../sass/main.sass */
.custom-checkbox:hover .heart-empty {
  opacity: 0;
}

/* line 216, ../sass/main.sass */
.custom-checkbox input[type="checkbox"]:checked ~ .heart {
  opacity: 1;
}

/* line 219, ../sass/main.sass */
.custom-checkbox input[type="checkbox"]:checked ~ .heart-empty {
  opacity: 0;
}

/* RESPONSIVE */
@media screen and (min-width: 320px) and (max-width: 768px) {
  /* line 2, ../sass/responsive-sass/_main-responsive.sass */
  .txt-restaurants-mobile-tablette {
    align-self: flex-start;
  }

  /* line 5, ../sass/responsive-sass/_main-responsive.sass */
  .txt-restaurants-desktop {
    display: none;
  }
}
@media screen and (min-width: 769px) {
  /* line 9, ../sass/responsive-sass/_main-responsive.sass */
  nav {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  /* line 14, ../sass/responsive-sass/_main-responsive.sass */
  .block-fonctionnement {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  /* line 19, ../sass/responsive-sass/_main-responsive.sass */
  .btn {
    margin: 20px;
  }

  /* line 22, ../sass/responsive-sass/_main-responsive.sass */
  .block-restaurants {
    flex-direction: row;
    width: 100% !important;
    justify-content: space-between;
    align-items: center;
  }

  /* line 28, ../sass/responsive-sass/_main-responsive.sass */
  .box-restaurants {
    width: 20% !important;
    margin: 20px;
  }

  /* line 32, ../sass/responsive-sass/_main-responsive.sass */
  .img {
    width: 100% !important;
    height: 300px !important;
  }

  /* line 36, ../sass/responsive-sass/_main-responsive.sass */
  .txt-restaurants-desktop {
    display: block !important;
    margin-left: 20px !important;
  }

  /* line 40, ../sass/responsive-sass/_main-responsive.sass */
  .txt-restaurants-mobile-tablette {
    display: none;
  }

  /* line 43, ../sass/responsive-sass/_main-responsive.sass */
  .logo-footer {
    padding-top: 10px;
    padding-right: 0px;
    display: flex;
    justify-content: center;
  }

  /* line 49, ../sass/responsive-sass/_main-responsive.sass */
  ol {
    display: flex;
    flex-direction: row !important;
    justify-content: space-between !important;
    height: 10px !important;
    padding-left: 0 !important;
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
    align-items: center !important;
  }
}
@media screen and (min-width: 769px) and (max-width: 880px) {
  /* line 62, ../sass/responsive-sass/_main-responsive.sass */
  .btn {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
  }

  /* line 67, ../sass/responsive-sass/_main-responsive.sass */
  .btn-txt {
    padding-top: 10px;
  }

  /* line 70, ../sass/responsive-sass/_main-responsive.sass */
  .num-icon {
    width: 140px !important;
    justify-content: space-between !important;
    padding-top: 10px;
  }

  /* line 75, ../sass/responsive-sass/_main-responsive.sass */
  .number {
    position: absolute;
    top: 25px;
  }

  /* line 79, ../sass/responsive-sass/_main-responsive.sass */
  .icon {
    position: absolute;
    left: 115px;
    top: 20px;
  }
}
